<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Temp</title>
  </head>
  <body style="background-color: black; color: white">
    <h1>Test page</h1>
    <div>
      <input id="message" type="text" placeholder="Write a message" />
      <button id="send">Send</button>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect();
    let send = document.querySelector("#send");
    let msg = document.querySelector("#message");
    send.addEventListener("click", (e) => {
      socket.emit("prompt", {
        sender: "64ac97dbf93e0d9df6f0b353",
        conversation: "64ad34244420d02f69ebf156",
        message: msg.value,
        engine: "Perplexity Ai",
        time: new Date().toLocaleDateString(),
      });
      socket.once("response", (msg) => {
        console.log(msg.message);
      });
      socket.once("error", (msg) => {
        console.log(msg);
      });
    });
    // function Send(message) {
    //   fetch("http://127.0.0.1:5001", {
    //     method: "POST",
    //     headers: { "Content-Type": "application/json", "x-api-key": "234543" },
    //     body: JSON.stringify({ prompt: message }),
    //   })
    //     .catch((err) => {
    //       console.log(err);
    //     })
    //     .then(async (data) => {
    //       const $ = await data.json();
    //       alert($.message);
    //     });
    // }
  </script>
</html>
